{block title}
	Denní menu
{/block}

{block content}
	<div class="container mb-4">
		<h2 class="d-none d-sm-block">🍺 Copak za dobroty máme v Jičíně k obědu?</h2>
		<h2 class="d-block d-sm-none">🍺 Mňamky v Jičíne</h2>

		{* Generate menu *}
		<div class="btn-group btn-group-toggle mt-3" n:inner-foreach="$days as $webalize => $name">
			<a class="btn btn-primary {ifCurrent Home:Default $webalize}active{/ifCurrent}" n:href="this $webalize">
				{$name}
			</a>
		</div>

		{foreach $restaurants as $restaurant}
			<div class="card mt-4">
				<div class="card-header">
					{$restaurant->name}
				</div>
				<div class="card-body">
					Polévky:
					{foreach $soups = $restaurant->getsoups($date) as $soup}
						{$soup->name}{sep}, {/sep}
					{/foreach}

					{* Soups are not filled *}
					<span n:if="count($soups) === 0">
						<i>Polévky nejsou zadány.</i>
					</span>

					<ul n:inner-foreach="$restaurant->getMeals($date) as $meal" class="pl-4 pl-md-5">
						<li class="mt-4 mt-md-1">
							<span class="name">
								{$meal->name} <b>({$meal->price} kč)</b>
							</span>
							<span style="cursor: pointer" data-food="{$meal->id}" class="food-vote text-decoration-none">
								⭐ <span class="votes">{$meal->votes}</span>x
							</span>
						</li>
					</ul>
					<a href="{$restaurant->link}" class="d-none d-md-inline btn btn-primary">
						Přejít na web restaurace
					</a>
				</div>
			</div>
		{/foreach}
	</div>
{/block}
