services:
	# Router
	routing.router: App\Factories\RouterFactory::create

	# Restaurands
	- App\Models\Menu\Restaurants\Zamecka
	- App\Models\Menu\Restaurants\Kozlovna
	- App\Models\Menu\Restaurants\Mexico
	- App\Models\Menu\Restaurants\DelovaKoule
	- App\Models\Menu\Restaurants\Lucie
	- App\Models\Menu\Restaurants\Jidelna

	# Commands
	- App\Models\Console\BuildCommand

decorator:
	App\Models\Menu\IRestaurant:
		tags: [restaurant]