<!doctype html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow">
		<meta name="generator" content="Nette Framework">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Toustbot a výběr jeho oblíbených restaurací v Jičíně.">

		<title>{include title|strip} - Toustbot a výběr jeho oblíbených restaurací v Jičíně</title>

		<meta property="og:url" content="{$baseUrl}">
		<meta property="og:image" content="{$baseUrl}/images/miniature.jpg">
		<meta property="og:title" content="{include title|strip} - Toustbot a výběr jeho oblíbených restaurací v Jičíně">
		<meta property="og:description" content="Toustbot a výběr jeho oblíbených restaurací v Jičíně.">

		<link rel="apple-touch-icon" type="image/png" href="{$baseUrl}/images/icon-228x228.png">
		<link rel="shortcut icon" type="image/png" href="{$baseUrl}/favicon.ico">
		<link rel="manifest" href="{$baseUrl}/manifest.json">

		{* Style assets *}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<style>
			@media only screen and (max-width: 390px) {
				.btn-group {
					max-width: 100%;
					overflow-x: auto;
				}
			}
		</style>

		{* Google Analytics *}
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104890274-7"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag() {
				dataLayer.push(arguments);
			}
			
  			gtag('js', new Date);
  			gtag('config', 'UA-104890274-7');
		</script>
	</head>
	<body>
		{* Flash messages printout *}
		<div class="container mt-3" n:snippet="flash-messages" n:inner-foreach="$flashes as $flash">
			<div class="alert alert-dismissible fade show alert-primary {$flash->type}">
				{$flash->message}
				<button type="button" class="close" data-dismiss="alert" aria-label="Zavřít">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>

		{include content}

		{* JavaScript assets *}
        <script src="{$basePath}/files/scripts/scripts.js"></script>
	</body>
</html>
